<div id='translations'>
  <h1>Translations</h1>

  <% @keys.each do |key| %>
    <%= key %>
    <% Translator.locales.each do |locale| %>
      <%= render :partial => "form", :locals => {:locale => locale, :key => key} %>
    <% end %>
  <% end %>

  <% unless @total_pages < 2 %>
    <% (1..@total_pages).each do |p| %>
      <%= link_to_unless_current p, translations_path(:show => params[:show], :page => p) %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents("form")).val($(this).attr("data-recover"));
  });
</script>

